#centerpage {
	width: 850px;
	margin: 1em auto 1em auto;
	border: 1px solid #d9dce1;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

h1 {
	font-size: 1.7em;
}

a {
	color: #1271c1;
}

p {
	margin-bottom: 0.5em;
}

/**
 * Bar
 */

#topbar {
	background: #212127;
	height: 91px;
}

#topbar a {
	float: left;
	display: block;
	height: 100%;
}


#topbar a.blue {
	width: 271px;
	padding: 20px 0 0 80px;
	
	background-image: url('gradient-lock.png');
	
	text-decoration: none;
	color: #14567d;
}

#topbar .black {
	width: 577px;
	
	padding: 20px 0 0 80px;
	
	background-image: url('plus.png');
	background-repeat: no-repeat;
	background-position: 23px center;
	
	text-decoration: none;
	color: #8c8e95;
}

/*
* Samuels added

#topbar a.blue {
	width: 271px;
	padding: 20px 0 0 80px;
	
	background-image: url('gradient-lock.png');
	
	text-decoration: none;
	color: #14567d;
}

#topbar .black {
	width: 577px;
	
	padding: 20px 0 0 80px;
	
	background-image: url('plus.png');
	background-repeat: no-repeat;
	background-position: 23px center;
	
	text-decoration: none;
	color: #8c8e95;
}

*/

#topbar div.black{
	background-image: url('namnbricka.png');
	background-position:25px 20px;
}

#topbar div.black a{
	float: none;
	display: inline;
	color: white;
}

#topbar .awesome_margin {
	margin-left:15px;
	margin-bottom:0px;
}

#topbar p.small_text {
	margin-left:15px;
	margin-top:5px;
	float: none;
	font-size: 0.6em;
	color: white;
}

#topbar h1 {
	color: white;
}

#topbar > a > h1 {
	color: white;
}

/**
 * Content
 */

#content {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

#content > h1 {
	text-align: center;
}

#content > div {
	border: 1px solid #d9d5de;
	padding: 15px;
	background: #fafafa;
	border-radius: 2px;
	margin-top: 20px;
	line-height:120%;
}

/**
 * Form
 */

#content > form {
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#content > form label {
	width: 30%;
	display: block;
	float: left;
	text-align: right;
	padding-right: 10px;
	clear: left;

	margin-bottom: 5px;
}

#content > form input {
	margin: 0 0 5px 0;
}

input[type="text"], input[type="password"] {
	/* float: left; */
	width: 50%;
	margin-right: 10px; /* Original value 20% */
	background: #f2f2f2;
	border: 1px solid #dcd9e0;
	border-radius: 2px;
	padding: .50em;
	color: #92949b;
	font-weight: bold;
}

/*
* Samuels added stuff
*/

#content > div.nobox {
	border: 0px;
	padding: 0px 0px 10px 0px;
	background: none;
	border-radius: 0px;
	margin-top: 0px;

}

#content > p.nomargin {
	margin-left: 0%;
	line-height:120%;
	padding: 0px 0px 5px 0px;
}

p.nomargin {
	margin-left: 0%;
	line-height:120%;
	padding: 0px 0px 5px 0px;
}

#content > p.nomargincenter {
	text-align:center;
	margin-left: 0%;
	line-height:120%;
	padding: 0px 0px 5px 0px;
}



input#leftmargin {
	margin-left: 5px;
}

div.italic {
	font-style:italic;
}

th.headeralign {
	font-weight:bold;
	text-align:left;
	padding-bottom:10px;
}

.strong {
	font-weight:bold;
}

table.receipt {
	width:90%;
}

td.name {
	width:50%;
}

td.amount {
	width:20%;
}

td.price {
	text-align:right;
}

td.sum {
	padding-top:10px;
	text-align:right;
}

#content > form input[type="checkbox"] {
	margin-top: 4px;
	margin-right: 10px; /* Original value: 60% */
	height: 2.5em;
}

#content > form input[type="submit"] {
	border: 1px solid #39adf0;
	border-radius: 3px;
	color: white;
	padding: 5px 10px 5px 10px;
	background: #62c3fa;
}

/**
 * Bottom links
 */

#content > p {
	margin-left: 30%;
}

.numbox {
	width: 50px ! important;
	margin-left: 5px ! important;
}

#input_div {
	width:100%;
	border-style:solid;
	border-size:30px;
	border-color:#00ff00;
}

#input_div > input.input_text {
	clear:left;
	
	height: 50px;
	
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	
	border-width: 3px;
	border-style: solid;
	border-color: #cdcdcd;
	border-radius: 5px;
	
	font-size: 25px;
	font-color: #000000;
	font-weight: 1000;
	color: #333333;
	
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#efefef));
	background: -moz-linear-gradient(top,  #FFFFFF,  #efefef);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#efefef');
}

#input_div > label.input_label {
	clear:left;
	color:#51b2e9;
	margin: 5px 20px 5px 0px;
	padding: 0px 0px 0px 0px;
	font-size:20px;
	
	height: 50px;
	width: 30%;
	text-align: right;
	
	line-height:200%;
}

#input_div > input.input_radio {
	margin: 0px;
	padding: 0px;
}

#input_div > div.gender_button_group {
	float:left;
	
	height: 50px;
	
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	
	font-size: 20px;
	font-color: #000000;
	font-weight: 1000;
	color: #333333;
	
	border-width: 0px;
	border-style: solid;
	border-color: #fff;
	border-radius: 0px;
	
	line-height:200%;
}

ol.move
{
list-style-type:decimal;
}


/*
	Samuel nr 2 aka trahojen's additions
*/
#content div.notice
{
	border: 0.15em solid #0e5bcf;
	padding: 1.0em;
	margin-bottom: 2.0em;
}
